div#wrapper {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

div#ccopyarea {
    position: relative; 
    width:  200px;
    height: 500px;
}

span#ccopy {
    width:  150px;
    height: 400px;
    position: absolute;
    left: 220px;
    top: -630px;

    text-shadow: 1px 1px 10px #FFA000;
    font-size: 25px;    
    font-color: #AAAAAA;
    font-weight: bold;
    -moz-writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;

    -webkit-transform: rotate(10deg) translate(-10px,0px);


}
