h1= title
div= 'hogehoge'
	form(method='POST', action='/snap/')
		input(type='text', name='imageURI')
		br
		input(type='text', name='message')
		br
		textarea(name='cssstyle')
		br
		input(type='submit')
