!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/test.css')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/mennaku.js')
  body!= body
